<h2 class="main-content__busca-container__title">Escolas</h2>
                <div class="main-content__busca-container__inputs-container">
                    <div class="main-content__busca-container__form-group">
                        <label class="main-content__busca-container__form-group__label">Código da escola</label>
                        <input class="main-content__busca-container__form-group__input" name="codigo" placeholder="Digite o código da escola"/>
                    </div>
                    <div class="main-content__busca-container__form-group">
                        <label class="main-content__busca-container__form-group__label">Nome da escola</label>
                        <input class="main-content__busca-container__form-group__input" name="nome" placeholder="Digite o nome da escola"/>
                    </div>
                    <div class="main-content__busca-container__form-group">
                        <label class="main-content__busca-container__form-group__label">Tipo de escola</label>
                        <select class="main-content__busca-container__form-group__input" name="tipo" placeholder="Digite o nome da escola">
                            <option value="">Selecione uma opção</option>
                            <option value="CEI">CEI</option>
                        </select>
                    </div>
                    <div class="main-content__busca-container__form-group">
                        <label class="main-content__busca-container__form-group__label">Diretoria Regional</label>
                        <select class="main-content__busca-container__form-group__input" name="dre" placeholder="Digite o nome da escola">
                            <option value="">Selecione uma opção</option>
                        </select>
                    </div>
                </div>
