<nav class="menu-container">
  <ul class="menu-container__menu">
      <li routerLinkActive="link--active" class="menu-container__menu__item"><a class="menu-container__menu__item__link" [routerLink]="['/busca']">Buscar escolas</a></li>
      <li routerLinkActive="link--active" class="menu-container__menu__item"><a class="menu-container__menu__item__link" [routerLink]="['/posicao']">Consultar posição na fila</a></li>
      <li routerLinkActive="link--active" class="menu-container__menu__item"><a class="menu-container__menu__item__link" [routerLink]="['/faq']">Perguntas frequentes</a></li>
      <li routerLinkActive="link--active" class="menu-container__menu__item"><a class="menu-container__menu__item__link" [routerLink]="['/telefones']">Telefones úteis</a></li>
  </ul>
</nav>